{
	"semi": true,
	"singleQuote": true,
	"endOfLine": "lf",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": true
}
